Package: tproxy-manager
Version: 25.9.15-1
Architecture: all
Maintainer: Rico-X <ricox.sp@gmail.com>
Section: net
Priority: optional
Depends: xray-core, ca-bundle, kmod-nft-tproxy, kmod-nft-socket, ip-full, lua, luci-base, luci-compat, luci-lib-jsonc, luci-lib-ip, uci, busybox
Description: TPROXY-Manager — управление TProxy (xray, geo, скрипты, UCI, LuCI).
